<template>
	<div>
		<!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Your Purchases</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Your Purchases</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Cart Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-12 table-responsive mb-5">
                <table class="table table-bordered text-center mb-0">
                    <thead class="bg-secondary text-dark">
                        <tr>
                            <th>Products</th>
							<th>Status</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        <tr v-for="purchase in purchases" :key="purchase.id">
                            <td class="align-middle">
								<img src="img/product-1.jpg" alt="" style="width: 50px;">
								{{ purchase.product.name }} {{ purchase.transport_status }}
							</td>
							<td class="align-middle">
								{{ statuses[purchase.transport_status].label }}
							</td>
                            <td class="align-middle">{{ purchase.product.price }} VND</td>
                            <td class="align-middle">
								{{ purchase.amount }}
                            </td>
                            <td class="align-middle">{{ purchase.product.price * purchase.amount }}</td>
                            <td class="align-middle"><button class="btn btn-sm btn-primary"><i class="fa fa-times"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Cart End -->
	</div>
</template>

<script>
import { PURCHASE } from '@/utils/constants.js'

export default {
	data() {
		const statuses = {}
		statuses[PURCHASE.STATUS_CANCELED] = {
			color: 'secondary',
			label: 'Canceled',
		}
		statuses[PURCHASE.STATUS_IN_CART] = {
			color: 'primary',
			label: 'In cart',
		}
		statuses[PURCHASE.STATUS_PENDING] = {
			color: 'warning',
			label: 'Pending',
		}
		statuses[PURCHASE.STATUS_CONFIRMED] = {
			color: 'success',
			label: 'Confirmed',
		}
		statuses[PURCHASE.STATUS_TRANSPORTING] = {
			color: 'info',
			label: 'Transporting',
		}
		statuses[PURCHASE.STATUS_DELIVERED] = {
			color: 'delivered',
			label: 'Delivered',
		}
		statuses[PURCHASE.STATUS_RATED] = {
			color: 'info',
			label: 'Rated',
		}

		return {
			purchases: [],
			statuses,
		}
	},
	created() {
		this.getPurchases()
	},
	methods: {
		getPurchases() {
			this.$axios.get('/api/user/purchases')
				.then(response => {
					this.purchases = response.data
				})
		},
	},
}
</script>

<style>

</style>