<template>
	<div>
		<!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center py-2">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Checkout</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Checkout</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Checkout Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <div class="mb-4">
                    <h4 class="font-weight-semi-bold mb-4">Billing Address</h4>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Name *</label>
                            <input v-model="user.name" class="form-control" type="text" placeholder="John">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>E-mail *</label>
                            <input v-model="user.email" class="form-control" type="text" placeholder="example@email.com">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Mobile No *</label>
                            <input v-model="user.phone" class="form-control" type="text" placeholder="0987654321">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>City *</label>
                            <select v-model="purchaseData.city" @change="getDistricts()" class="custom-select">
                                <option v-for="city in cities" :key="city.id" :value="city">{{ city.name }}</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>District *</label>
                            <select v-model="purchaseData.district" @change="getProvinces()" class="custom-select">
                                <option v-for="district in districts" :key="district.id" :value="district">{{ district.name }}</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Province *</label>
                            <select v-model="purchaseData.province" class="custom-select">
                                <option v-for="province in provinces" :key="province.id" :value="province">{{ province.name }}</option>
                            </select>
                        </div>
                        <div class="col-md-12 form-group">
                            <label>Address *</label>
                            <input v-model="user.address" class="form-control" type="text" placeholder="123 Street">
                        </div>
                        <div class="col-md-12 form-group">
                            <label>Note to Shop</label>
                            <textarea v-model="purchase.note" class="form-control" style="min-height: 200px;"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div v-if="purchase.product" class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Order Total</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="font-weight-medium mb-3">Product</h5>
                        <div class="d-flex justify-content-between">
                            <p>{{ purchase.product.name }}</p>
                            <p>{{ purchase.product.price }} VND</p>
                        </div>
						<div class="d-flex justify-content-end">
							<div v-show="purchase.amount > 1" class="input-group-btn">
								<button @click="purchase.amount--" class="btn btn-primary btn-minus" >
									<i class="fa fa-minus"></i>
								</button>
							</div>
							<input v-model="purchase.amount" type="text" class="form-control bg-secondary text-center" style="max-width: 50px;">
							<div class="input-group-btn">
								<button @click="purchase.amount++" class="btn btn-primary btn-plus">
									<i class="fa fa-plus"></i>
								</button>
							</div>
						</div>
                        <hr class="mt-0">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Subtotal</h6>
                            <h6 class="font-weight-medium">{{ purchase.product.price }}</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium">{{ purchase.product.shipping_price }} VND</h6>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h5 class="font-weight-bold">{{ purchase.product.price + purchase.product.shipping_price }} VND</h5>
                        </div>
                    </div>
                </div>
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Payment</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" v-model="purchase.payment" value="1" id="directcheck">
                                <label class="custom-control-label" for="directcheck">Direct Check</label>
                            </div>
                        </div>
                        <div class="">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" v-model="purchase.payment" value="2" id="banktransfer">
                                <label class="custom-control-label" for="banktransfer">Bank Transfer</label>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <button @click="order()" class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Place Order</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Checkout End -->
	</div>
</template>

<script>
import { getCities, getDistricts, getProvinces } from '@/utils/common.js'
export default {
	data() {
		return {
			user: {},
			purchase: {},
			cities: [],
			districts: [],
			provinces: [],
			purchaseData: {},
		}
	},
	created() {
		this.user = this.$store.state.user
		this.getPurchase()
		this.getCities()
	},
	methods: {
		getPurchase() {
			let purchaseCode = this.$route.params.code
			this.$axios.get('/api/user/purchases/' + purchaseCode)
				.then(response => {
					this.purchase = response.data
				})
		},
		getCities() {
			getCities().then(cities => {
				this.cities = cities
			})
		},
		getDistricts() {
			getDistricts(this.purchaseData.city.code).then(districts => {
				this.districts = districts
			})
		},
		getProvinces() {
			getProvinces(this.purchaseData.district.code).then(provinces => {
				this.provinces = provinces
			})
		},
		order() {
			this.purchaseData.user = this.user
			this.purchase.data = JSON.stringify(this.purchaseData)
			this.$axios.post('/api/user/purchases/order', this.purchase)
				.then(response => {
					console.log(response)
				})
		},
	},
}
</script>

<style>

</style>