<template>
	<ProductComponent componentName="Product" />
</template>

<script>
import ProductComponent from '@/components/template.vue'

export default {
	components: { ProductComponent },
	async asyncData(context) {
		async function getProduct() {
			let response = {
				data: {},
			}
			try {
				response = await context.$axios.get('/api/user/products/' + context.route.params.id, {
					params: {
						add_view: true,
					},
				})
			} catch(e) {
				console.log(e)
			}

			return response.data
		}

		let product = await getProduct()

		context.store.commit('setProduct', product)

		return {
			product,
		}
	},
}
</script>