<template>
	<div>
	<!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Shopping Cart</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Shopping Cart</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Cart Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-12 table-responsive mb-5">
                <table class="table table-bordered text-center mb-0">
                    <thead class="bg-secondary text-dark">
                        <tr>
                            <th>Products</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        <tr v-for="item in items" :key="item.id">
                            <td class="align-middle">
								<img src="img/product-1.jpg" alt="" style="width: 50px;"> 
								{{ item.product.name }}
							</td>
                            <td class="align-middle">{{ item.product.price }} VND</td>
                            <td class="align-middle">
                                <div class="input-group quantity mx-auto" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary btn-minus" >
                                        <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <input v-model="item.amount" type="text" class="form-control form-control-sm bg-secondary text-center">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary btn-plus">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle">{{ item.product.price * item.amount }}</td>
                            <td class="align-middle">
								<button @click="remove(item)" class="btn btn-sm btn-primary"><i class="fa fa-times"></i></button>
								<button @click="buy(item)">Buy</button>
							</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Cart End -->
	</div>
</template>

<script>
export default {
	data() {
		return {
			items: [],
		}
	},
	created() {
		this.loginGuard()
		this.getItems()
	},
	methods: {
		loginGuard() {
			let token = this.getCookie('user-token')
			if(token.length != 0) {
				this.$axios.get('/api/user/echo', { headers: { 'Authorization': 'Bearer ' + token } })
					.then(response => {
						this.$axios.defaults.headers.common = {
							'Authorization': 'Bearer ' + token
						}
					})
					.catch(error => {
						console.error(error)
						if(error.response.status == 401) {
							this.$router.push('/login')
						}
					})
			} else {
				this.$router.push('/login')
			}
		},
		getItems() {
			this.$axios.get('/api/user/cart')
				.then(response => {
					this.items = response.data
				})
		},
		buy(item) {
			this.$router.push('/purchases/' + item.purchase_code)
		},
		remove(item) {
			this.$axios.post('/api/user/cart/remove', { purchase_id: item.id })
				.then(response => {
					console.log(response)
					this.getItems()
				})
		},
	},
}
</script>

<style>

</style>