<template>
	<div>
		<div>
			<div class="container-fluid">
				<div class="row bg-secondary py-2 px-xl-5">
					<div class="col-lg-6 d-none d-lg-block">
						<div class="d-inline-flex align-items-center">
							<a class="text-dark" href="">FAQs</a>
							<span class="text-muted px-2">|</span>
							<a class="text-dark" href="">Help</a>
							<span class="text-muted px-2">|</span>
							<a class="text-dark" href="">Support</a>
						</div>
					</div>
					<div class="col-lg-6 text-center text-lg-right">
						<div class="d-inline-flex align-items-center">
							<a class="text-dark px-2" href="">
								<i class="fab fa-facebook-f"></i>
							</a>
							<a class="text-dark px-2" href="">
								<i class="fab fa-twitter"></i>
							</a>
							<a class="text-dark px-2" href="">
								<i class="fab fa-linkedin-in"></i>
							</a>
							<a class="text-dark px-2" href="">
								<i class="fab fa-instagram"></i>
							</a>
							<a class="text-dark pl-2" href="">
								<i class="fab fa-youtube"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="row align-items-center py-3 px-xl-5">
					<div class="col-lg-3 d-none d-lg-block">
						<nuxt-link to="/" class="text-decoration-none">
							<h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">E</span>Shopper</h1>
						</nuxt-link>
					</div>
					<div class="col-lg-6 col-6 text-left">
						<form action="">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Search for products">
								<div class="input-group-append">
									<span class="input-group-text bg-transparent text-primary">
										<i class="fa fa-search"></i>
									</span>
								</div>
							</div>
						</form>
					</div>
					<div class="col-lg-3 col-6 text-right">
						<a href="" class="btn border">
							<i class="fas fa-heart text-primary"></i>
							<span class="badge">0</span>
						</a>
						<a href="" class="btn border">
							<i class="fas fa-shopping-cart text-primary"></i>
							<span class="badge">0</span>
						</a>
					</div>
				</div>
			</div>
			<!-- Topbar End -->


			<!-- Navbar Start -->
			<div class="container-fluid mb-5">
				<div class="row border-top px-xl-5">
					<div class="col-lg-3 d-none d-lg-block">
						<a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
							<h6 class="m-0">Categories</h6>
							<i class="fa fa-angle-down text-dark"></i>
						</a>
						<nav class="position-absolute navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0 bg-light collapse" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 100;">
							<div class="navbar-nav w-100 overflow-hidden" style="height: 410px">
								<div class="nav-item dropdown">
									<a href="#" class="nav-link" data-toggle="dropdown">Dresses <i class="fa fa-angle-down float-right mt-1"></i></a>
									<div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
										<a href="" class="dropdown-item">Men's Dresses</a>
										<a href="" class="dropdown-item">Women's Dresses</a>
										<a href="" class="dropdown-item">Baby's Dresses</a>
									</div>
								</div>
								<nuxt-link v-for="category in categories" :key="category.id" :to="'/categories/' + category.id" class="nav-item nav-link">
									{{ category.name }}
								</nuxt-link>
							</div>
						</nav>
					</div>
					<div class="col-lg-9">
						<nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
							<a href="" class="text-decoration-none d-block d-lg-none">
								<h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">E</span>Shopper</h1>
							</a>
							<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
								<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
								<div class="navbar-nav mr-auto py-0">
									<a href="index.html" class="nav-item nav-link active">Home</a>
									<a href="shop.html" class="nav-item nav-link">Shop</a>
									<a href="detail.html" class="nav-item nav-link">Shop Detail</a>
									<div class="nav-item dropdown">
										<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
										<div class="dropdown-menu rounded-0 m-0">
											<nuxt-link to="/cart" class="dropdown-item">Shopping Cart</nuxt-link>
											<nuxt-link to="/purchases" class="dropdown-item">Your Purchases</nuxt-link>
										</div>
									</div>
									<a href="contact.html" class="nav-item nav-link">Contact</a>
								</div>
								<div class="navbar-nav ml-auto py-0">
									<a href="" class="nav-item nav-link">Login</a>
									<a href="" class="nav-item nav-link">Register</a>
								</div>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
    <!-- Navbar End -->
		<nuxt-child></nuxt-child>
		<!-- Footer Start -->
    <div class="container-fluid bg-secondary text-dark mt-5 pt-5">
        <div class="row px-xl-5 pt-5">
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                <a href="" class="text-decoration-none">
                    <h1 class="mb-4 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border border-white px-3 mr-1">E</span>Shopper</h1>
                </a>
                <p>Dolore erat dolor sit lorem vero amet. Sed sit lorem magna, ipsum no sit erat lorem et magna ipsum dolore amet erat.</p>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>123 Street, New York, USA</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info@example.com</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+012 345 67890</p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <h5 class="font-weight-bold text-dark mb-4">Quick Links</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-dark mb-2" href="index.html"><i class="fa fa-angle-right mr-2"></i>Home</a>
                            <a class="text-dark mb-2" href="shop.html"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
                            <a class="text-dark mb-2" href="detail.html"><i class="fa fa-angle-right mr-2"></i>Shop Detail</a>
                            <a class="text-dark mb-2" href="cart.html"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                            <a class="text-dark mb-2" href="checkout.html"><i class="fa fa-angle-right mr-2"></i>Checkout</a>
                            <a class="text-dark" href="contact.html"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="font-weight-bold text-dark mb-4">Quick Links</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-dark mb-2" href="index.html"><i class="fa fa-angle-right mr-2"></i>Home</a>
                            <a class="text-dark mb-2" href="shop.html"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
                            <a class="text-dark mb-2" href="detail.html"><i class="fa fa-angle-right mr-2"></i>Shop Detail</a>
                            <a class="text-dark mb-2" href="cart.html"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                            <a class="text-dark mb-2" href="checkout.html"><i class="fa fa-angle-right mr-2"></i>Checkout</a>
                            <a class="text-dark" href="contact.html"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="font-weight-bold text-dark mb-4">Newsletter</h5>
                        <form action="">
                            <div class="form-group">
                                <input type="text" class="form-control border-0 py-4" placeholder="Your Name" required="required" />
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control border-0 py-4" placeholder="Your Email"
                                    required="required" />
                            </div>
                            <div>
                                <button class="btn btn-primary btn-block border-0 py-3" type="submit">Subscribe Now</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border-top border-light mx-xl-5 py-4">
            <div class="col-md-6 px-xl-0">
                <p class="mb-md-0 text-center text-md-left text-dark">
                    &copy; <a class="text-dark font-weight-semi-bold" href="#">Your Site Name</a>. All Rights Reserved. Designed
                    by
                    <a class="text-dark font-weight-semi-bold" href="https://htmlcodex.com">HTML Codex</a>
                </p>
            </div>
            <div class="col-md-6 px-xl-0 text-center text-md-right">
                <img class="img-fluid" src="img/payments.png" alt="">
            </div>
        </div>
    </div>
    <!-- Footer End -->
	</div>
</template>

<script>
export default {
	name: 'IndexPage',
	scrollToTop: true,
	head() {
		let assetsPath = '/templates/default/assets'
		return {
			title: 'simple-shop',
			link: [
				{ rel: 'icon', type: 'image/x-icon', href: '/favicon.ico' },
				{ rel: "stylesheet", href: assetsPath + "/css/style.css" },
				{ rel: "stylesheet", href: assetsPath + "/lib/owlcarousel/assets/owl.carousel.min.css" },
				{ rel: "stylesheet", href: assetsPath + "/css/font-awesome/all.min.css" },
			],
			script: [
				{ src: 'https://code.jquery.com/jquery-3.4.1.min.js', body: true },
				{ src: 'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js', body: true },
				{ src: assetsPath + '/lib/easing/easing.min.js', body: true },
				{ src: assetsPath + '/lib/owlcarousel/owl.carousel.min.js', body: true },
			]
		}
	},
	data() {
		return {
			categories: [],
			user: {},
			shop: {},
		}
	},
	created() {
		this.shop = this.$store.state.shop
		this.getCategories()
		this.getUser()
	},
	methods: {
		getCategories() {
			this.$axios.get('/api/user/categories', { params: {
				shop_id: this.shop.id,
			} })
				.then(response => {
					this.categories = response.data
				})
		},
		getUser() {
			this.$axios.get('/api/user/info')
				.then(response => {
					this.user = response.data
					this.$store.commit('setUser', this.user)
				})
		},
		logout() {
			this.$axios.post('/api/user/logout').then(response => {
				console.log(response)
			})
		},
	},
}
</script>
