<template>
    <component v-if="component" :is="component" />
</template>

<script>
export default {
    props: ['componentName'],
    data() {
        return {
            component: null,
        }
    },
    methods: {
        async getThemeComponent (theme, component) {
            return (await import('~/templates/' + theme + '/' + component +'.vue')).default
        }
    },
    async created() {
		let shop = this.$store.state.shop
		let path = shop.template?.path ?? 'default'
        this.component = await this.getThemeComponent(path, this.componentName)
    }
}
</script>

<style>

</style>
