<template>
	<PurchaseCheckoutComponent componentName="Purchase/Checkout" />
</template>

<script>
import PurchaseCheckoutComponent from '@/components/template.vue'

export default {
	components: { PurchaseCheckoutComponent },
}
</script>