<template>
	<PurchaseBoardComponent componentName="Purchase/Board" />
</template>

<script>
import PurchaseBoardComponent from '@/components/template.vue'

export default {
	components: { PurchaseBoardComponent },
}
</script>