<template>
	<div>
		<div v-for="product in products" :key="product.id" @click="$router.push('/products/' + product.id)">
			<div>{{ product.name }}</div>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			products: [],
			shop: {},
		}
	},
	created() {
		this.shop = this.$store.state.shop
		this.getProducts()
	},
	methods: {
		getProducts() {
			this.$axios('/api/user/products', { params: {
				shop_id: this.shop.id,
				category_id: this.$route.params.id,
			} })
				.then(response => {
					this.products = response.data
				})
		},
	},
}
</script>

<style>

</style>