<template>
	<ContainerComponent componentName="Container" />
</template>

<script>
import ContainerComponent from '@/components/template.vue'

export default {
	name: 'IndexPage',
	scrollToTop: true,
	components: { ContainerComponent },
	async asyncData(context) {
		async function getShop() {
			let response = {
				data: {},
			}
			try {
				response = await context.$axios.post('/api/user/shop', { id: 1 })
			} catch(e) {
				console.log(e)
			}

			return response.data
		}

		let shop = await getShop()

		context.store.commit('setShop', shop)

		return {
			shop,
		}
	},
}
</script>
