<template>
	<div>
		<input type="text" v-model="email">
		<input type="text" v-model="password">
		<button @click="login">Login</button>
	</div>
</template>

<script>
export default {
	data() {
		return {
			email: 'lrippin@example.org',
			password: 'password',
		}
	},
	created() {
		this.loginGuard()
	},
	methods: {
		loginGuard() {// TODO check before enter
			let token = this.getCookie('user-token')
			if(token.length != 0) {
				this.$axios.get('/api/user/echo', { headers: { 'Authorization': 'Bearer ' + token } })
					.then(response => {
						console.log(response)
						if(response.status == 200) {
							this.$router.push('/')
						}
					})
			}
		},
		login() {
			this.$axios.post('/api/user/login', { email: this.email, password: this.password })
				.then(response => {
					this.setCookie('user-token', response.data, 1)
					this.$router.push('/')
				})
				.catch(error => {
					console.log(error)
				})
		}
	},
}
</script>

<style>

</style>